{% extends 'base.html.twig' %}

{% block title %}Correspondre{% endblock %}

{% block body %}
    <h1>Correspondre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ correspondre.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('correspondre_index') }}">back to list</a>

    <a href="{{ path('correspondre_edit', {'id': correspondre.id}) }}">edit</a>

    {{ include('correspondre/_delete_form.html.twig') }}
{% endblock %}
